.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #FAFAFA;
  color: #00e;
  font-family: "VT323", serif;
}

.vt323-regular {
  font-family: "VT323", serif;
  font-weight: 100;
  font-style: normal;
}

.project-name {
  display: flex;
  justify-content: center;
  border-style: solid;
  border-radius: 80px;
  width: 40%;
  margin-top: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  transition: all 0.5s ease-in-out;
}

.project-name:hover {
  background-color: #00e;
  border-style: solid;
  border-width: 1.5px;
  border-color: #00e;
  color: #FAFAFA;
}

h1 {
  font-size: 20px;
  font-weight: 100;
}

h2 {
  font-family: "VT323", serif;
  font-size: 24px;
  font-weight: 100;
}

.header-container {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
}

.header-container h1,
.header-container h2 {
  margin: 10px 0;
}

.info-box {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 16px;
  background-color: #fafafa;
  border-width: 0px;
  border-style: solid;
  border-color: #ddd;
  border-radius: 8px;
  z-index: 10;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out, opacity 0.4s ease-in-out, border-width 0.4s ease-in-out;
}

.info-box.visible {
  height: 325%; 
  border-width: 1px;
  opacity: 1;
  transition: height 0.5s ease-in-out, opacity 0.4s ease-in-out, border-width 0.4s ease-in-out;
}

.info-box p {
  margin: 10px 0;
}

span {
  background-color: #00e; 
  color: #FAFAFA;
}

.clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.digital-display {
  font-size: 168px;
  margin-bottom: 80px;
  font-family: "VT323", serif;
}

footer {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 16px;
  display: flex;
  text-align: center;
}

a {
  color: #00e;
  transition: all 0.5s ease-in-out;
}

a:hover {
  background-color: #00e;
  color: #FAFAFA;
}
