.App {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #FAFAFA;
  color: #00e;
  font-family: "VT323", serif;
  overflow: hidden;
}

.vt323-regular {
  font-family: "VT323", serif;
  font-weight: 100;
  font-style: normal;
}

.doto {
  font-family: "Doto", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
}

.floating-text {
  position: absolute;
  pointer-events: none;
  font-size: 16px;
  background-color: #9f9f9f;
  color: #FAFAFA;
  padding: 4px 8px;
  border-radius: 4px;
  font-family: "VT323", serif;
  white-space: nowrap;
  transition: transform 0.05s linear;
}

.white-screen {
  background-color: #0000ee !important;
  position: relative;
  width: 100vw;
  height: 100vh;
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.regular-time-display {
  display: flex;  
  flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "VT323", serif;
}

.project-name {
  display: flex;
  justify-content: center;
  border-style: solid;
  border-radius: 80px;
  width: 200px;
  margin-top: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  transition: all 0.5s ease-in-out;
}

.project-name:hover {
  background-color: #00e;
  border-style: solid;
  border-width: 1.5px;
  border-color: #00e;
  color: #FAFAFA;
}

h1 {
  font-size: 20px;
  font-weight: 100;
}

h2 {
  font-family: "VT323", serif;
  font-size: 24px;
  font-weight: 100;
}

.header-container {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
}

.header-container h1,
.header-container h2 {
  margin: 10px 0;
}

.info-box {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 16px;
  background-color: #fafafa;
  border-width: 0px;
  border-style: solid;
  border-color: #ddd;
  border-radius: 8px;
  z-index: 10;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out, opacity 0.4s ease-in-out, border-width 0.4s ease-in-out;
}

.info-box.visible {
  height: 325%; 
  border-width: 1px;
  opacity: 1;
  transition: height 0.5s ease-in-out, opacity 0.4s ease-in-out, border-width 0.4s ease-in-out;
}

.info-box p {
  margin: 10px 0;
}

span {
  background-color: #00e; 
  color: #FAFAFA;
}

.clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.digital-display {
  font-size: 168px;
  margin-bottom: 80px;
  font-family: "VT323", serif;
  text-align: center;
}

footer {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 16px;
  display: flex;
  text-align: center;
}

a {
  color: #00e;
  transition: all 0.5s ease-in-out;
}

.a-normal-stuff {
  color: #FAFAFA;
}

a:hover {
  background-color: #00e;
  color: #FAFAFA;
}

/* @keyframes glitch {
  0% {
    transform: translateX(0) skew(0deg);
    opacity: 1;
    clip-path: inset(0);
  }
  10% {
    transform: translateX(-15px) skew(-5deg);
    opacity: 0.8;
    clip-path: inset(0 0 40% 0);
    background: linear-gradient(90deg, #0000EE, #fafafa);
  }
  20% {
    transform: translateX(20px) skew(3deg);
    opacity: 0.6;
    clip-path: inset(0 0 40% 0);
    background: linear-gradient(90deg, #0000EE, #fafafa);
  }
  30% {
    transform: translateX(-10px) skew(-7deg);
    opacity: 0.7;
    clip-path: inset(0 0 30% 0);
    background: linear-gradient(90deg, #0000EE, #fafafa);
  }
  40% {
    transform: translateX(10px) skew(5deg);
    opacity: 0.5;
    clip-path: inset(0 0 30% 0);
    background: linear-gradient(90deg, #0000EE, #fafafa);
  }
  50% {
    transform: translateX(0) skew(0deg);
    opacity: 1;
    clip-path: inset(0);
  }
  100% {
    transform: translateX(0) skew(0deg);
    opacity: 1;
    clip-path: inset(0);
  }
}

.glitch-transition {
  animation: glitch 0.8s ease-in-out forwards, screen-switch 0s 0.8s forwards;
}

@keyframes screen-switch {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.white-screen:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000EE;
  z-index: -1;
  opacity: 0;
  animation: background-glitch 0.8s ease-in-out forwards;
}

@keyframes background-glitch {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */


/* MEDIA QUERIES FOR RESPONSIVENESS */

/* Tablets and Large Phones */
@media (max-width: 768px) {
  .project-name {
    width: 60%;
  }

  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 20px;
  }

  .digital-display {
    font-size: 120px;
  }

  .info-box {
    font-size: 16px; 
    padding: 8px 12px;
  }

  footer {
    font-size: 18px;
  }
}

/* Phones */
@media (max-width: 480px) {
  .project-name {
    width: 60%;
  }

  h1 {
    font-size: 16px;
  }

  h2 {
    font-size: 18px;
  }

  .digital-display {
    font-size: 100px;
  }

  .info-box {
    font-size: 16px;
    padding: 8px;
    width: 95%;
  }

  .info-box.visible {
    height: 350%;   
  }

  footer {
    font-size: 16px;
  }
}

/* Phones */
@media (max-width: 375px) {
  .project-name {
    width: 60%;
  }

  h1 {
    font-size: 16px;
  }

  h2 {
    font-size: 17px;
  }

  .digital-display {
    font-size: 100px;
  }

  .info-box {
    font-size: 16px;
    padding: 8px;
    width: 90%;
  }

  .info-box.visible {
    height: 395%;   
  }

  footer {
    font-size: 16px;
  }

  a {
    padding: 16px;
  }
}
 